[2015-11-12 22:34] slack opened #1 "Registry Alpha Requirements"
The following things need to be done for alpha:
* [x] Deployable to K8S: Service def, RC def, repository follows [standard Deis pattern](https://github.com/technosophos/prototype-repo)
* [x] Document installation process in README
* [x] Link install instructions to alpha install instructions in deis/workflow
* [x] Receive push from the controller

Out of scope:
* recoverable storage backend not re

[2015-11-17 17:47] krancour opened #2 "Proposal: port boot script to go"
This assumes registry is lifted 'n' shifted from v1.x where the boot script is currently implemented as a shell script.

[2015-11-17 18:05] krancour opened #3 "Proposal: containerize the development environment"
This is to lower the barrier to entry for hacking on Deis while also standardizing the development environment for all contributors.

[2015-12-04 01:21] #1 closed

[2015-12-21 20:54] arschles opened #7 "Look for minio and outside storage env vars"
follow the lookup rules that [builder](https://github.com/deis/builder) and [workflow](https://github.com/deis/workflow) use:

- if `DEIS_MINIO_SERVICE_HOST` and `DEIS_MINIO_SERVICE_PORT` exist, use those for the S3 location
- if `DEIS_OUTSIDE_STORAGE_HOST` and `DEIS_OUTSIDE_STORAGE_PORT`, exist, use those for the S3 location

[2015-12-21 23:05] sgoings opened #8 "contrib/**/deploy.sh needs to move to standard _scripts/deploy.sh"
In order to make our releases as smooth as possible, I'd like for the travis deploy.sh script to be located in the same place in all the Deis v2 component repos. Right now that place is: _scripts/deploy.sh

My version bump/release tool has problems with this repository because the travis deploy script lives in the contrib/** structure:

[code]

[2015-12-22 01:40] technosophos commented on #8
@sgoings Is this ready for review?

[2015-12-22 05:10] #8 closed

[2016-01-22 18:27] slack opened #19 "Implement k8s HealthCheck"
Need to add health and liveness checks to the project.

[2016-01-22 18:28] slack opened #20 "Use cluster-configured object storage"
Registry should persist to cluster configured object storage.

[2016-02-03 20:39] mboersma commented on #19
This was accomplished in deis/charts#66. Currently registry has no local k8s manifests, only those in the deis-dev chart. Is that sufficient to close this issue or are copies of those manifests also required locally to this repository? ping @slack.

[2016-02-08 18:35] #19 closed

[2016-02-16 17:37] arschles opened #21 "Run docker build on all PR builds"
Similar to what builder does in its [.travis.yml file](https://github.com/deis/builder/blob/master/.travis.yml#L16), minio should run `make ... docker-build` to ensure that the Dockerfile is correct

[2016-02-23 22:22] #20 closed

[2016-02-24 17:10] kmala opened #25 "Use minio as the default storage backend"
Currently registry uses emptydir(filesystem) as the default storage.Instead use minio as the default storage.

[2016-02-24 17:11] kmala commented on #7
#24 handles using storage based on appropriate environment variables.Currently it doesn't handle minio as there are few issue with it.Created a issue to fix it #25.

[2016-02-24 17:11] #7 closed

[2016-03-07 19:27] #25 closed

[2016-03-11 17:53] mboersma commented on #2
This is implemented as of #24; no shell scripts here.

[2016-03-11 17:53] #2 closed

[2016-03-14 23:08] sgoings opened #28 "Publish immutable artifact tags + canary version to Docker registries"
We want to have the ability to have deis/charts reference a specific immutable image which will enable us better traceability on issues that come into various components.

What we've done with efforts in other repositories is publish a version:
- `git-[short sha]` that will never be overwritten
- `canary` that will move to reference the latest version available of a component

Examples of the easi

[2016-03-16 18:05] #28 closed

[2016-03-18 01:28] krancour opened #32 "Registry restarts over and over when using s3"
This is _all_ that is in the logs:

[code]

[2016-03-18 03:21] krancour commented on #32
Oddly, on a _new_ cluster, I am unable to reproduce this, so I am closing and will re-open later if need be.  cc @kmala

[2016-03-18 03:21] #32 closed

[2016-03-19 15:58] MaxenceAdnot opened #33 "High CPU / memory usage"
I have a workflow-beta1 cluster on GKE and I noticed that the registry is currently using a lot of CPU and memory.

[code]

Here is what a top gives me inside the container :
[code]

Looking at the logs, health checks are running every 10sec so I don't think this is related :
[code]

I didn't tweak anything on the registry and I understood that it uses minio for storage.
Any idea about that ?

[2016-03-21 22:16] kmala commented on #33
@MaxenceAdnot can you tell me exactly which command gave you the results? Yes, it uses minio for storage and you can change it to point to other storage backends(https://docs-v2.readthedocs.org/en/latest/installing-workflow/configuring-object-storage/)
I am running a deis cluster on GCE and wrote a script to deploy an App continuosly onto the cluster. When i do docker stats <registry container Id>

[2016-03-21 22:30] MaxenceAdnot commented on #33
@kmala what do you mean by 'which command gave you the results' ?

**Important note: there was no activity on the cluster when retrieving these values**

I launched a top on the container context with`docker exec -it CONTAINERID sh` and ran a top in the container:

[code]

Kube UI gives me this:

[code]

And here is the monitoring from GCE :
![screen shot 2016-03-21 at 23 28 51](https://cloud.gith

[2016-03-22 17:55] rimusz commented on #33
I'm seeing exact registry behaviour on GKE with K8s v1.2 too
Using minio as the object storage

[2016-03-26 00:13] helgi opened #34 "Registry restarts a few times while waiting for minio, but the errors it shows are now very user friendly"
Registry restarted 3 times while waiting for minio (or any of the other health checks) to pass and while looking at the logs I wasn't at first sure if it was legimiate failures or not

[code]

Having something friendlier may be a good idea

[2016-03-27 04:21] bacongobbler commented on #34
Fwiw the database fails in the same way ("connection reset by peer").

[2016-03-28 22:04] arschles opened #35 "Remove docker build tag from Dockerfile"
After https://github.com/deis/distribution/pull/9 is done, `include_gcs` can be removed from the [build tags](https://github.com/deis/registry/blob/master/Dockerfile#L5).

[2016-03-29 13:48] ghost commented on #33
@kmala it is still the issue on beta1

[2016-03-29 13:51] rimusz commented on #33
@kmala yup, I noticed too that the issue did not go away in beta1

[code]

[2016-03-29 17:50] MaxenceAdnot commented on #33
@kmala same here. Didn't tried to get the storage out of the cluster, I'm still using minio.

[2016-03-29 18:30] kmala commented on #33
I am able to reproduce it and i think i found why it might be occurring. i am working on a fixing it.

[2016-03-29 19:23] #33 closed

[2016-04-12 08:08] arkkanoid opened #39 "Can't connect to registry pod"
Hi,
I'm building apps to Deis V2 with S3 backend. When i run "git push deis master" I get this error:

    Removing intermediate container aafad5c94f80
    Successfully built 972c4c508b78
    pushing to registry
    remote: ":"The push refers to a repository [10.0.1.20:80/prova9] (len: 1)"}

    {"errorDetail":{"message":"unable to ping registry endpoint https://10.0.1.20:80/v0/\nv2 ping attempt f

[2016-04-12 14:37] bacongobbler commented on #39
The registry service listens on port 80, but the registry itself listens on port 5000. It looks like you missed a step because the builder is trying to authenticate via https: http://docs-v2.readthedocs.org/en/latest/installing-workflow/system-requirements/#docker-insecure-registry

[2016-04-12 16:03] #35 closed

[2016-04-18 12:03] arkkanoid commented on #39
Hi! It works setting an inscure registry: https://coreos.com/os/docs/latest/registry-authentication.html.
Now, when I run Deis with this new cluster configuration I've an high CPU usage of Registry component:
On AWS EC3 r3.large:
      PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+ COMMAND
    12874 root      20   0    5268   1912   1508 R  93.4  0.0   1942:57 registry

![image]

[2016-04-18 12:33] rimusz commented on #39
@arkkanoid update to Deis v2-beta2 as it has that high CPU registry fix

[2016-04-19 10:46] arkkanoid commented on #39
thanks @rimusz

[2016-04-19 10:46] #39 closed

[2016-04-27 13:42] sstarcher opened #44 "S3 object store on aws should not require credentials"
accesskey and secretkey should not be required as aws-sdk when running on an AWS instance will pull the credentials from the metadata service

[2016-06-14 18:33] kmala commented on #44
fixed by #52

[2016-06-14 18:33] #44 closed

[2016-06-20 00:54] monaka opened #56 "Can't startup registry with Azure backend"
I'm trying to install Deis with Azure Blob but failed.

I re-generated from chart, uninstalled, installed after editing ~/.helmc/workspace/charts/workflow-v2.0.0/tpl/generate_params.toml

The log is like this:

[code]

But it can't be started up....

[code]

For checking my account information, I run the docker registry on my node manually with my info.
It seems this works well.

[code]

I think t

[2016-06-20 02:52] kmala commented on #56
i had just tried using azure on workflow-v2.0.0 chart and it seems to be working....can you say what `kubectl describe pod <registry-pod> --namespace=deis` say and also can you get the logs of the container by deleting the pod and before it  restarting/going into crashloop because sometime kubectl misses some logs when the container is in crashloopbackoff.

[2016-06-20 03:07] monaka commented on #56
The result of `describe pods` like this.
Seems registry daemon didn't spawn...

[code]

[2016-06-20 03:15] kmala commented on #56
yes..it seems so....can you delete registry pod and get the logs immediatly because sometime the kubectl logs doesn't show full logs  when its in crashloopback

[2016-06-20 04:18] monaka commented on #56
I'm keeping inspection. Possibly it is caused lower layer than Registry.

[2016-06-20 05:34] monaka commented on #56
It's my mistake. DNS service in Kube-system was down. After fixing it, Registry was up.
I close this issue.

[code]

[2016-06-20 05:34] #56 closed

[2016-07-08 03:26] krancour opened #60 "Not compatible with Docker v1.11.x"
I've been using the `kube-aws` tool from [coreos/coreos-kubernetes](https://github.com/coreos/coreos-kubernetes) to stand up my dev / test clusters in AWS. By default, the CoreOS nodes that get created use the latest image from CoreOS' _alpha_ release channel. As of July 2, the latest release in that channel (1097.0.0) is the first CoreOS release to include Docker >= v1.11.0 (specifically, v1.11.2

[2016-07-08 15:23] kmala commented on #60
are you regularly able to reproduce it as this looks like aws issue(overloading the machine) https://github.com/docker/docker-py/issues/398.there are many issues in the docker repo similar to this even in the earlier versions of it.

[2016-07-08 15:34] krancour commented on #60
Yes. I can reliably reproduce this on AWS, but only when using Docker v1.11. Using Docker v1.10, everything is reliably working on AWS. If you like I can give you access to two such clusters for comparison.

[2016-07-08 16:46] krancour commented on #60
@kmala what is the reason we're using our own fork of docker/distribution?

[2016-07-08 16:51] kmala commented on #60
initially it was to support minio and have the feature of creating the buckets/containers if they don't exist.Later i merged few changes upstream and have one more open PR(https://github.com/docker/distribution/pull/1783)  once merged we can move away from our own fork.

[2016-07-08 17:34] krancour commented on #60
Although rolling back to Docker v1.10 solves the problem, I cannot seem to fix this by instead keeping v1.11 and updating to the latest code from docker/distribution. I would have expected that to work. Note that the buckets in question already exist, so I'm not being bitten by the lack of just-in-time bucket creation or anything like that. The symptoms remain identical to what I reported in my OP

[2016-07-08 18:30] krancour commented on #60
It turns out the failure looks a little different if the controller and registry turn out to be co-located on the same node. (Constant retries to push instead of a failure to dial.) I wonder if this might point to some incompatibility between Docker v1.11 and the kube-proxy.

[2016-07-08 20:37] krancour commented on #60
On the off chance it would have helped, I upgraded my cluster to k8s 1.3.0 and the problem persists.

[2016-07-08 23:12] krancour commented on #60
Ok... seems k8s 1.2 and 1.3 aren't certified as Docker v1.11 compatible yet. It's a WIP:

https://github.com/kubernetes/kubernetes/issues/23397

I'm not going to close this issue, but I think we can sit on it at least until k8s is known to work with Docker 1.11-- otherwise we're really putting the cart before the horse.

[2016-07-13 03:44] jolly2 opened #61 "Pushing image to desi registry times out when proxy is used"
In /etc/default/docker ,

export HTTP_PROXY="corp proxy"
export NO_PROXY="deis-router-service-ip-address:80"

If HTTP_PROXY is not used, then, deis cannot pull the image from outside (docker hub)
If HTTP_PROXY is used, then, git push fails to push the image to the deis-registry (times out)
So added NO_PROXY for the deis-router-ip-address:80 . Still it is not able to push the image to deis-registry

[2016-07-13 14:45] kmala commented on #61
since the registry is internal it doesn't go through the router, it directly calls the registry service so you should set the NO_PROXY to "deis-registry-service-ip-address:80" if you are on v2.1 or before.
From the next release v2.2 which we will be releasing next week you should be able to just specify `localhost` as we drop a service on each node to proxy the requests

[2016-07-13 16:06] jolly2 commented on #61
Hello,I have tried with NO_PROXY=deis-service-registry-ip-address:80. I always get this error. Not sure why it is trying to deploy to "localhost", instead of registry service address. This deis code is a week old code from github. Below is the log from deis-builder-instance2-
2016-07-13T15:52:49.858369201Z Traceback (most recent call last):2016-07-13T15:52:49.858458544Z   File "/deploy.py", line 1

[2016-07-13 17:19] kmala commented on #61
what is your docker version....this looks like similar to https://github.com/deis/registry/issues/60

[2016-07-13 17:43] jolly2 commented on #61
Yes it is a similar problem . However, i see this problem when http_proxy and no_proxy are used together. If both are removed, deploy works fine. I would have to pull the images that i need from outside with http_proxy and then remove http_proxy to tag and push it to deis registry.
Docker version 1.11.2, build b9f10c9
Thanks

[2016-07-18 20:53] arschles commented on #60
@krancour since we're sitting on this issue, can we move this out of the 2.2 milestone?

[2016-07-19 03:28] krancour commented on #60
@arschles, yes.

[2016-07-20 16:42] jolly2 commented on #61
Downgraded docker 1.10.3.  It is a different problem with deis-registry now. Still cannot use http_proxy and no_proxy settings together in docker daemon. I downloaded the images to a private repo on another machine and pulled and pushed into deis registry. Push seemed successful.  But, system became slow. gunicorn has hogged more than 100% of CPU for about 20 mins now. Deis is using all the 12 cor

[2016-07-20 16:49] kmala commented on #61
@jolly2 can you tell which process is hogging the cpu and get the logs of the corresponding deis component

[2016-07-20 16:54] jolly2 commented on #61
ps -ef | grep 7494
106       7494  7372 55 08:53 ?        00:32:24 /usr/bin/python /usr/local/bin/gunicorn -c /app/deis/gunicorn/config.py api.wsgi

PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+ COMMAND
  7494 106       20   0  171272  47600  11296 R  99.6  0.2  33:59.03 gunicorn

System is extremely so to capture the logs..I will try. But, I had to hard boot the cluster everyt

[2016-07-21 18:51] jolly2 opened #62 "Pushing bigger images crashes registry/minio/controller/builder"
Hello,
I have an image which is about 932M in size. When I try to push it to deis registry, it takes more than 15 mins and after that brings down registry/minio/controller/builder and k8s tries to restart them all at the same time. This makes the system unresponsive and some times soft locks the CPUs. This makes me to hard boot  the whole cluster. As minio does not have persistent storage, i would

[2016-07-21 18:53] bacongobbler commented on #62
Do you have logs for the registry and for minio to show how it brought down the cluster?

[2016-07-21 19:55] jolly2 commented on #62
After hard booting the cluster, I am trying to see if there are any stopped docker containers (specifically for minio and registry) with docker ps -a . I see only the containers that came up after the machine is started, but not the containers that were running before the hard boot. Is there any other place that I can look for deis logs?

[2016-07-21 20:45] bacongobbler commented on #62
Use `kubectl logs -p` to see the logs from the previous instance of the container in the pod.

[2016-07-29 17:19] jolly2 commented on #62
Found the root cause of the problem. The reason was,  the underlying storage could not cope up with the high rate of write activity of deis registry.  This was crashing all the containers (include deis's) to restart by k8s.  Used the underlying storage throttling mechanism to solve this problem. Does deis have any road map to provide any kind of overlay storage mechanisms to handle and distribute

[2016-07-29 17:23] bacongobbler commented on #62
That would probably be a good PR for upstream! I'm not sure if we'd support that here as [we're trying to stick with official upstream registry images](https://github.com/deis/registry/issues/60#issuecomment-231412142), but if it were PR'd upstream then we could take advantage of those mechanisms.

[2016-08-18 15:48] bacongobbler commented on #34
closing as this has been resolved through kubernetes liveness health checks.

[2016-08-18 15:48] #34 closed

[2016-08-23 14:29] DavidSie opened #64 "cannot upload docker container to registry"
When I build an up with buildpack it works, but when I want to build container I cannot upload it to the registry

[code]

[code]

[code]

I know that there are environmental variables to point this address:

[code]

but I don't understand why, since none of the pods, and none of the services is  listening on 5555

services

[code]

pods

[code]

[2016-08-23 15:24] bacongobbler commented on #64
From the pod list it looks like the registry-proxy component is missing, which is what proxies requests to the registry. Can you confirm with `kubectl --namespace=deis get daemonsets`?

[2016-08-24 08:25] DavidSie commented on #64
there are registry proxies. I attached one above but there are 3 the same( I using 1 master + 2 minions).

[code]

[2016-08-24 15:40] bacongobbler commented on #64
Okay, so if you do indeed have registry proxies then you're probably hitting the same issue as https://github.com/deis/registry/issues/62, since your app relies on the `ruby` image which is relatively large. I would take a look into that issue and see if you find similar behaviour.

[2016-08-24 18:39] DavidSie commented on #64
According to docker hub  https://hub.docker.com/r/library/ruby/tags/ it's only 313 MB, I would say that's average.
Are you sure that this address make sense: `localhost:5555`, since `deis-registry            10.3.0.188   <none>        80/TCP` and `deis-registry-3758253254-3gtjo` pod is listening on port `5000` ?

[2016-08-24 18:41] bacongobbler commented on #64
Yes, that address is correct. The request goes through the registry-proxy, which (as the name suggests) proxies the request to the real registry. It's a workaround for the `--insecure-registry` flag. See https://github.com/deis/registry-proxy#about

[2016-08-24 18:43] bacongobbler commented on #64
Coming back to the original problem, I'd inspect both your registry and minio to ensure that there are no problems with either backend. From reports it seems like slightly larger than normal images built via Dockerfile (>100MB) seem to be causing these issues.

[2016-08-25 07:20] DavidSie commented on #64
this is not a big container size issue (alpine is 2MB: https://hub.docker.com/r/library/alpine/tags/ ) :

[code]

Which container should listen on port `5555` ?

(This is a different cluster but from the same script)

[2016-08-25 17:56] bacongobbler commented on #64
The registry-proxy listens on port 5555.

Can you please provide the following information so we can try to reproduce this?
- `kubectl version`
- how you provisioned your kubernetes cluster

I recall that there is internal networking issues when using CoreOS with calico: https://github.com/deis/workflow/issues/442

[2016-08-26 12:51] DavidSie commented on #64
from inside the container

[code]

kubectl version:

[code]

to provision kubernetes cluster I used this tutorial: https://coreos.com/kubernetes/docs/latest/getting-started.html

[2016-08-26 13:51] bacongobbler commented on #64
The fun situation about not being able to connect to localhost:5555 within the container is to be expected. We actually mount the host's docker socket, so any command we perform it assumes the host's network. Therefore, localhost:5555 on the host belongs to registry-proxy.

When you provisioned kubernetes, where did you deploy your cluster? AWS, GKE, Vagrant?

[2016-08-26 13:53] DavidSie commented on #64
I did it on Openstack

[2016-08-29 12:17] fdasoghe commented on #64
We had exact same problem, with:

[code]

To create our Kubernetes cluster we followed the tutorial here: https://coreos.com/kubernetes/docs/latest/kubernetes-on-vagrant.html

After quite a bit of struggling (turning off calico, changing hostPort from 5555 to 80, etc. - nothing changed) we resolved using the plain version of Kubernetes, from the main Deis tutorial here: https://deis.com/docs/workf

[2016-08-30 11:00] DavidSie commented on #64
@think01 So you think that `kubelet-wrapper`  provided  with CoreOS may be a cause of this problem, right ?

[2016-08-30 11:13] fdasoghe commented on #64
@DavidSie well, I cannot say the problem is in that component, but we solved by avoiding to use the coreos-kubernetes package and going plain with kubernetes on vagrant (that creates some fedora bosex).

Why you talk about `kubelet-wrapper`?

[2016-08-30 11:51] DavidSie commented on #64
Because I saw that CoreOS is shipped with this script `/usr/lib/coreos/kubelet-wrapper` but there I see it only starts hyperkube on rkt.

[2016-09-06 20:43] mboersma commented on #60
That is the case now, and compatibility with Docker in general is unfortunately something we have to rely on k8s to ensure.

[2016-09-06 20:43] #60 closed

[2016-09-08 20:21] Joshua-Anderson commented on #3
This has been done!

[2016-09-08 20:21] #3 closed

[2016-09-08 22:09] Joshua-Anderson commented on #21
This has been done!

[2016-09-08 22:09] #21 closed

[2016-09-19 20:45] bacongobbler commented on #64
ping @DavidSie, were you able to identify the root cause of your issue here?

[2016-09-21 17:44] rbellamy commented on #64
I am experiencing what I think is a similar issue. My image is 385.9M (so it's >100M as mentioned by @bacongobbler). Regarding "inspecting" the backend - I cannot figure out how to get helpful logging out of the minio pod. I've tried the `--debug` switch in various permutations, then found https://github.com/minio/minio/pull/820 which seems to indicate that it's no longer valid because it's not ne

[2016-09-21 17:56] bacongobbler commented on #64
@rbellamy can you post registry logs in a gist? That will likely give us more information why the registry is failing to communicate with minio.

[2016-09-21 18:17] rbellamy commented on #64
@bacongobbler will do.

Also, may be related to https://github.com/minio/minio/issues/2743.

[2016-09-21 18:24] rbellamy commented on #64
Registry logs:
https://gist.github.com/rbellamy/c0db447ed47c364ae396b5d0c9852a02

[2016-09-21 18:28] rbellamy commented on #64
Here's my setup, using Alpha channel of CoreOS and libvirt:

[code]

[2016-09-21 20:09] rbellamy commented on #64
Worked with @harshavardhana from the minio crew to try to troubleshoot this.

For whatever reason, during our [teleconsole](//github.com/gravitational/teleconsole) session, I was able to successfully push the image into the `deis-registry-proxy` - but then saw the same `dial i/o timeout` but in a different context. This time, it was while pulling the image from the proxy, during the image `app:dep

[2016-09-21 20:14] harshavardhana commented on #64
@bacongobbler - if you have a setup locally we can work on this and see what is causing the problem.  Do not have kubernetes setup locally.  i/o timeout seems to be related to network problem between registry and minio server.  Need to see if the server itself is not responding properly.  Couldn't see it with `mc` though.

[2016-09-21 20:38] rbellamy commented on #64
So, from my registry log gist: https://gist.github.com/rbellamy/c0db447ed47c364ae396b5d0c9852a02#file-deis-issue-64-registry-proxy-logs-L1242

[2016-09-21 21:20] bacongobbler commented on #64
@harshavardhana unfortunately we do not have any clusters reproducing this issue locally nor can we reproduce it ourselves, other than for the calico networking issue.

@rbellamy if you can supply information about how you set up your cluster including your KUBERNETES _PROVIDER envvar when using kube-up.sh and what version of workflow we can try to reproduce there. As far as e2e is concerned we ar

[2016-09-21 21:53] rbellamy commented on #64
@bacongobbler I included that information in a comment in this issue: https://github.com/deis/registry/issues/64#issuecomment-248700404

[2016-09-21 22:08] bacongobbler commented on #64
Thank you! From what others have voiced earlier it sounds like this sounds related to a CoreOS issue as seen earlier in https://github.com/deis/registry/issues/64#issuecomment-243107833. I'd recommend trying a different provider first and see if that resolves your issue.

[2016-09-22 00:20] rbellamy commented on #64
I'm not sure how diagnostic this is, given I'm testing within a single libvirt host - however it should be noted that the host is running 2 x 12 AMD Opteron CPUs on a Supermicro MB with 128G RAM and all SSDs, and each VM is provisioned with 4G and 2CPUs, so I find it hard to believe that the issue at hand is related to overloaded VM host or guest.

From what @bacongobbler has said, deis hasn't see

[2016-09-22 01:20] bacongobbler commented on #64
Yes, I do believe this is a CoreOS related problem as I mentioned in my previous comment. If you can try provisioning a cluster with a different provider that can help narrow down the issue.

[2016-09-22 02:31] rbellamy commented on #64
@bacongobbler I've used corectl and Kube-Solo with success.

[2016-09-23 19:00] bacongobbler commented on #64
@DavidSie after reading the logs just a little more closely, I realized that this seems to be that it looks like your docker daemon is trying to push to a v1 registry endpoint.

[code]

Notice the `v1` in there. Since this is directly related to dockerbuilder because buildpack deploys work fine for you, I wonder if it's due to the docker python library auto-detecting the client version: https://gi

[2016-09-23 20:34] harshavardhana commented on #64
Is this still the network issue we were talking about previously? @bacongobbler - let me know how can i help here.

[2016-09-23 20:41] bacongobbler commented on #64
Yes. @rbellamy believe he has nailed it down as a symptom of coreos/bugs#1554. Thank you for the offer, though!

[2016-09-23 22:52] rbellamy opened #65 "Cannot store docker image in minio - causes broken `deis pull` command"
Per @bacongobbler's request, pulling this out of #64 because it's different, yo.

## TL;DR:

Because of https://github.com/docker/docker/issues/26492, which is symptomatic in https://github.com/coreos/bugs/issues/1554, the `deis-registry` throws numerous `dial tcp <in-cluster ip>:9000: i/o timeout` errors when trying to store docker images to `minio`, which may or may not surface in the `deis-cont

[2016-09-26 07:57] DavidSie commented on #64
@bacongobbler
Do you know how can I fix this issue ?  Simply update deis (now I use 2.3.0)

[2016-09-26 12:48] bacongobbler commented on #64
I'm not sure how this could be fixed, however using 2.5.0 would never hurt.

[2016-10-04 20:32] bacongobbler commented on #65
According to https://github.com/coreos/bugs/issues/1554#issuecomment-249634825 this issue should be resolved in the next alpha release. 1185.0.0 was released on Sept 28th, just 2 days after @crawford's comment. @rbellamy if you wouldn't mind trying again on 1185.0.0 this issue may be resolved.

[2016-10-04 20:34] rbellamy commented on #65
I'll give it a shot later today.

[2016-10-05 20:14] bacongobbler commented on #65
ping @rbellamy, any results?

[2016-10-06 01:37] rbellamy commented on #65
It looks good. I've created/torn down a kubernetes cluster ranging from 1 master and 2 nodes to 1 master and 6 nodes. Each five times - so a total of 25 create/destroy evolutions, and seen zero failures.

[2016-10-06 01:51] bacongobbler commented on #65
sweet! I guess we can consider this problem resolved.

[2016-10-06 01:51] #65 closed

[2016-10-12 02:26] dblackdblack commented on #64
I ran into this exact problem when setting up using the CoreOS tool as well.  It's too bad that CoreOS aws-cli has this problem b/c the CoreOS tool works really well with cloudformation, which makes teardown a snap after trying out deis. kube-up does not use cloudformation and leaves crap all over your AWS account after you're done with it.

[2016-10-12 05:42] bacongobbler commented on #64
@dblackdblack even after using `./cluster/kube-down.sh`? I've always found that script tears down all the AWS resources it created.

[2016-10-15 18:15] tmc opened #70 ""service account deis/deis-registry was not found""
Running gcr off-cluster -- getting this on the registry rs: `Error creating: pods "deis-registry-3280823271-" is forbidden: service account deis/deis-registry was not found, retry after the service account is created`

[2016-10-19 19:27] bacongobbler commented on #64
So after debugging with both @jdumars and @felixbuenemann, both clusters seem to be showing the same symptom. The problem? Requesting a hostPort on some providers - like Rancher and CoreOS - does not work. @kmala pointed me towards https://github.com/kubernetes/kubernetes/issues/23920 so it looks like we found our smoking gun.

[2016-10-19 19:33] bacongobbler commented on #64
And for anyone who wants to take a crack at trying a patch, they can run through the following instructions to patch workflow-v2.7.0, removing registry-proxy and making the controller and builder connect directly with the registry. This will require the old --insecure-registry flag to be enabled so the docker daemon can talk to the registry, but here's the commands and the patch on a fresh cluster

[2016-10-19 21:23] bacongobbler commented on #70
Seems like the pod is still being created. Can you post your config? [According to the chart](https://github.com/deis/charts/blob/45cf6787d75be2d54582619347b191be43c906a9/workflow-v2.7.0/tpl/storage.sh#L28-L40), the registry is installed only when the `storage_location` parameter is set to `on-cluster`. Assuming you're using gcr, you should have it set to `off-cluster` as the docs describe.

pingi

[2016-10-19 21:25] bacongobbler commented on #70
In future tickets, would you mind placing helm-related issues in deis/charts? That would be helpful triaging these issues. Thanks! :)

[2016-10-20 20:43] zinuzoid commented on #64
In case anyone wants to patch `workflow-dev` you can use this gist with @bacongobbler instruction above.

https://gist.githubusercontent.com/zinuzoid/621dc94e848f8f390c787c307e848ed2/raw/7c7d98a7cd0986ed6a99a67b675932e29ca0ed7d/remove-registry-proxy.patch

[2016-10-20 20:54] bacongobbler commented on #64
~~@zinuzoid the instructions above use that exact patch :)~~

EDIT: I missed the one line change you made in your patch and the fact it's for workflow-dev. Nice catch!

[2016-10-20 20:57] zinuzoid commented on #64
@bacongobbler plus one line in `workflow-dev/tpl/storage.sh` for me to make it work :)

[2016-10-31 17:14] bacongobbler commented on #70
ping @tmc

[2016-10-31 17:17] bacongobbler commented on #64
I'm going to close this issue as there is nothing we can do here to work around this issue in Workflow other than with the patch I provided. This is an upstream issue and patches should be applied upstream. Until then please feel free to run with the patch provided here for production deployments that rely on CNI networking. Thanks!

[2016-10-31 17:17] #64 closed

[2016-10-31 17:24] bacongobbler commented on #61
@jolly2 just read through this issue. The reason the controller is deploying to localhost is because it is hitting the [registry proxy](https://github.com/deis/registry-proxy). This is normal, and your proxy settings should reflect that.

As for the 12 core CPU issue, this has been resolved. There were known memory/CPU hogging issues in earlier versions of v2 that have long since been resolved. Yo

[2016-10-31 17:25] #61 closed

[2016-11-02 20:55] jwalters-gpsw commented on #64
When applying the patch got this corrupt patch at line 6 message:
mbr-31107:charts jwalters$ curl https://gist.githubusercontent.com/bacongobbler/0b5f2c4fe6f067ddb775d53d635cc74d/raw/32a86cc4ddfa0a7cb173b1184ac3e288dedb5a84/remove-registry-proxy.patch | git apply -
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total

[2016-11-02 21:19] bacongobbler commented on #64
@jwalters-gpsw try again. I just fixed the patch.

[code]

[2016-11-02 21:25] bacongobbler commented on #64
v2.8.0 patch:

[code]

[2016-11-02 21:32] jwalters-gpsw commented on #64
Thanks for the updated patch. I'm running coreos on AWS. Is there a way for me to restart the docker daemons with the insecure registry option? Or would I need to redeploy the cluster?

[2016-11-02 21:46] bacongobbler commented on #64
It's easier to re-deploy the cluster if you're just getting set up. Otherwise you'll have to manually SSH into each node, modify the daemon startup flags and reboot docker on every node.

[2016-11-03 02:14] jwalters-gpsw commented on #64
Thanks. I will give that a try. Also thinking about doing a Deis upgrade to the same version per the upgrade instructions but setting the registry to an off-cluster registry.

[2016-11-03 20:21] jwalters-gpsw commented on #64
Manually updated the worker nodes docker config and applied your changes and its working fine now.

[2016-11-10 21:53] bacongobbler commented on #70
closing due to inactivity. in the future, if you could please post your config as well as perform some [general troubleshooting with kubectl](https://deis.com/docs/workflow/troubleshooting/kubectl/), it would really help us try to nail down the issue quicker. Thanks!

[2016-11-10 21:53] #70 closed

[2016-11-10 21:54] bacongobbler commented on #62
I don't believe this has been an issue any more. Closing for now but please re-open if it still persists on v2.8.0+.

[2016-11-10 21:54] #62 closed

[2016-11-10 22:51] bacongobbler opened #74 "replace main.go with a bash script"
All main.go literally does is set a few environment variables and execute the registry binary as a child process. It would greatly simplify the build toolchain if we just made it as a bash script, especially with the introduction of #73.

[2016-12-09 08:24] ineu opened #77 "Version 2.3.x makes deployment/deis-registry fail"
I had Deis 2.8 installed. Recently I've installed 2.9 instead via `helm upgrade` and deis-registry stuck in CrashLoopBackOff. The error from the container is as follows: https://gist.github.com/ineu/37abac07168386bbc80496332da45245

DNS works fine in the container. I suspect that there's some issue in extracting host part from the swift.authurl in the 2.3.x, which makes it try to resolve not the h

[2016-12-09 18:48] vdice commented on #77
@ineu could you add some further information, such as:

 - k8s version
 - Was 2.8 installed via Helm Classic (helmc) or Kubernetes Helm?

[2016-12-09 19:40] ineu commented on #77
k8s 1.2
2.8 was installed via helmc, then it was removed with all secrets and 2.9 installed via k8s helm

[2016-12-09 19:55] bacongobbler commented on #77
As suggested in other tickets prior to this can you try upgrading to k8s v1.3.10 (or v1.4.6) and see if that resolves the issue?

See https://github.com/deis/workflow/pull/625, we stopped testing v1.2 for some time now

[2016-12-10 09:43] ineu commented on #77
Fresh installation of Deis 2.9 on the Kube 1.4 cluster doesn't suffer from this issue. I think this ticket can be closed.

[2016-12-10 14:59] #77 closed

[2017-01-04 22:49] ineu commented on #64
Sorry for raising this old thread, but could you please explain how to apply this patch to the 2.9 which is deployed via helm and not helm classic?

[2017-01-04 22:52] bacongobbler commented on #64
You can fetch the chart locally via `helm fetch deis/workflow --version=v2.9.1 --untar`, modify the chart with the patch (which you'll have to manually apply since it's not in git), then install it :)

[2017-01-05 06:28] ineu commented on #64
Thank you

[2017-01-10 18:44] mboersma commented on #74
This didn't seem like much of a priority, and we can imagine wanting to add more functionality to it, in which case we'd be glad we implemented it in Go.

[2017-01-10 18:44] #74 closed

[2017-02-16 09:43] Akshaykapoor opened #81 "Error when pushing docker image to registry"
I'm running Workflow v2.10 with a manual patch to use `127.0.0.1` instead of `localhost` for `DEIS_REGISTRY_SERVICE_HOST` as mentioned https://github.com/deis/workflow/issues/678 . Everything was working well until today morning i've started to see failures whenever i try to push to an existing branch or create a new app. This is the error that i get when doing the `git push`

[code]

From the con

[2017-02-16 14:13] Akshaykapoor commented on #81
I figured it out. The issue was `deis-registry-proxy` was not running on one of the nodes. Had to restart the `kubelet` service and things started to work fine after that.

[2017-02-16 14:13] #81 closed

[2017-02-17 09:42] ApsOps commented on #44
@kmala Looks like this is broken again by https://github.com/deis/registry/commit/3af11290c99b1b113934e5efa251bc8538947c2c cc: @bacongobbler

If we don't set any aws access key or secret, it should fall back to using instance iam role (ec2 metadata api)

[2017-03-06 17:31] croemmich opened #84 "Multiple Replicas"
I recently tried scaling the registry up to increase throughput and redundancy but after doing so pushes started to fail with `blob upload unknown`. It appears there is some internal state while a push is on-going. To fix the issue, I set `sessionAffinity: ClientIP` on the deis-registry service. Any reason this would be a bad idea? If not, I can post a pull request adding it to the service templat

[2017-03-10 18:01] vdice commented on #84
@croemmich I'd say if this solution is working for you, a PR would definitely be welcome for us to test out; haven't yet experimented with multiple registry replicas here.

[2017-03-10 18:23] bacongobbler commented on #84
Hey!

So just for context, this repo is just [a few wrapper scripts](https://github.com/deis/registry/blob/master/rootfs/bin/create-bucket) around [the upstream docker registry](https://github.com/deis/registry/blob/master/rootfs/Dockerfile#L1). I noticed there's a few issues upstream that are related to "blob upload unknown": https://github.com/docker/distribution/search?q=blob+upload+unknown&typ

[2017-03-12 22:10] croemmich commented on #84
@bacongobbler, from what I can tell looking through the issues is that there is generally an issue with distributed file stores like S3, Swift, and GCS. The layer is written to a storage node, but isn't immediately available if your next request hits a different node, which is probable. When the registry tries to read back the layer meta for a consistency check a 404 is thrown if the node does not

[2017-03-22 16:05] bacongobbler commented on #84
If you feel like hacking up a PR, that would be wonderful.

[2017-03-29 07:48] croemmich commented on #84
@bacongobbler, PR created, sorry for the delay.

[2017-04-03 15:38] #84 closed

[2017-04-14 21:55] jwalters-gpsw opened #88 "Similar to the instanceRole problem with database, registry doesn't seem to like instanceRoles"
Similar to the instanceRole problem with database, registry doesn't seem to like AWS instanceRoles.
Watching this possible upstream problem:

https://github.com/docker/distribution-library-image/issues/47

ECS also uses instanceRoles for their "tasks".

[2017-04-21 06:48] anubhavmishra opened #89 "docker registry connection refused deis on kubernetes aws"
I have installed workflow using helm. It is using the default backed. I am going through the example go app and seeing an error. Here are the commands:
[code]

controller logs:
[code]

[2017-04-21 14:42] bacongobbler commented on #89
Hey, have you taken a look at #64? On some platforms host ports are unavailable, so I've supplied a workaround for those situations.

[2017-04-21 16:32] anubhavmishra commented on #89
@bacongobbler thanks for your help. We will wait for CNI issues to be resolved. For now I can try the suggestion here: https://github.com/deis/registry/issues/64#issuecomment-254916941

[2017-04-21 16:59] bacongobbler commented on #89
closing as a duplicate of #64.

[2017-04-21 16:59] #89 closed

[2017-04-30 23:34] anubhavmishra commented on #64
Patched with @bacongobbler's suggested fixes https://github.com/deis/registry/issues/64#issuecomment-258003967  latest helm workflow charts: https://github.com/anubhavmishra/workflow.
Also make sure you are using insecure registry option for Docker suggested here: https://deis.com/docs/workflow/en/v2.2.0/installing-workflow/system-requirements/#docker-insecure-registry

[2017-06-26 16:37] IlyaSemenov commented on #64
For v2.15.0, the recipe will be:

[code]

Don't forget to enable insecure registry `/lib/systemd/system/docker.service` at your Docker host(s):

[code]

[2017-06-26 19:38] felixbuenemann commented on #64
Removing the registry proxy should no longer be needed with current versions of the deis helm charts, you can set the following in your deis-workflow `values.yml` if you are using CNI:

[code]

[2017-06-27 03:07] IlyaSemenov commented on #64
It's not working on Kubernetes 1.5.4 provisioned with Rancher 1.6.2 (latest).

I think this is the related issue https://github.com/rancher/rancher/issues/5857.

[2017-07-18 20:52] ghost commented on #64
I'm new to Deis and I'm encountering all kind of problems in my journey to deploy Deis in AWS.
The last one is when I tried to deploy a Doker image to Deis. For example for a pgadmin4 Docker image when running `deis pull ephillipe/pgadmin4`, I'm getting this error:
```Creating build... Error: Unknown Error (400): {"detail":"Put http://127.0.0.1:5555/v1/repositories/pgadmin4/: dial tcp 127.0.0.1:55

[2017-07-19 02:54] felixbuenemann commented on #64
@IulianParaian I would try the deis slack for troubleshooting. Might be your registry proxies are crashing because the internal registry is unreachable.

[2017-07-19 07:59] ghost commented on #64
@felixbuenemann I did tried the said slack first but didn't get any responses. And I also couldn't find a good documentation or a simple example on how to deploy an app from Docker image/ Docker file. I'm not referring to the official Deis documentation because there are just 3 lines of text with one command line that should work, but obviously it is not.
So maybe some more detailed tutorials with

[2017-07-19 08:27] bacongobbler commented on #64
I understand your frustration, though if the documentation is lacking, there are example applications provided for nearly any configuration you're looking for in the github org, and we [do link to those example applications](https://deis.com/docs/workflow/applications/using-docker-images/#prepare-an-application) in the documentation. For example: https://github.com/deis/example-dockerfile-http

Ha

[2017-07-19 19:29] ghost commented on #64
Hi @bacongobbler, thank you for the answer.
I did  troubleshooting my kubernetes and noticed that `deis-registry-proxy` component was not running.
This example https://github.com/deis/example-dockerfile-http is one that I tried.

As I am writing this I went to check the deis pods again and surprisingly, I have 2 `deis-registry-proxy` instances running. That is strange, I didn't change anything sin

[2018-11-17 16:52] kingdonb commented on #88
I've opened teamhephy/registry#3 to check if this is still an issue, and hopefully there are upstream changes we should pull to resolve it.